@{
    ViewBag.Title = "Project Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
<h1>Project Detail </h1>

<div  class="tablecontainer">

    <div class="">
        <div id="myFormContent">
        </div>
    </div>

    <div class="">
        <table id="myDatatable" class="table table-striped table-bordered  table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Product Type</th>
                    <th>Cost</th>
                    <th>Advance</th>
                    <th>Pending</th>
                    <th>Deliverables</th>
                    <th>Deliverables Pending</th>
                    <th>Deliverables Completed</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {

        var oTableData = {
            "ajax": {
                "url": '/ProjectDetail/GetAll',
                "type": "get",
                "datatype": "json"
            },
            "columns": [

                { "data": "projectname", "autoWidth": true },
                { "data": "projecttype", "autoWidth": true },
                { "data": "projectcost", "autoWidth": true },
                { "data": "projectadvance", "autoWidth": true },
                { "data": "projectpending", "autoWidth": true },
                { "data": "projectdeliverables", "autoWidth": true },
                { "data": "projectdeliverablespending", "autoWidth": true },
                { "data": "projectdeliverablescompleted", "autoWidth": true },

                {
                    "orderable": false,
                    "data": "amtdtid",
                    "width": "50px",
                    "render": function (data, type, row) {
                      
                        return '<a class="popup" href="/ProjectDetail/save/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                    }
                }
            ],
        };
        var savepage = '/ProjectDetail/save/0';
        filldatatable(oTableData, savepage);

    });

    </script>

