@model ussmain.Models.QuoteModel
@{
    ViewBag.Title = "Request a Quote";
}



@*<section id="ussebk-home"  style="background-image: url(/images/ebricklin_banner.jpg);" data-stellar-background-ratio="0.5">
		
	</section>*@

@Html.Partial("_HeaderWithHomeLink")



<section id="ussebk-explore">
    <div class="container">
        <div class="row" id="ussebk-rquestform">
           
                
                <div class="col-md-11 col-md-offset-1 ">
                    <h2>Request a Quote</h2>
                    
                    <p> Thanks for being our awesome customer to show your interest in our eBrickkiln product!  eBrickkiln Detail sent on our your given mail id.</p>
                     <p>   We have received your message and would like to thank you for your valuable information to us. We will call you as soon as possible .In the meantime, you 
can check the other detail of product and prepare your FAQ and business related doubt which you can clear when our executive will contact you regarding the same.</p>
             <p>We are also dealing with other products and services given below:-</p>
                    <ul >
  <li >eSchool (A complete School 
  Management ERP Solution)</li>
  <li > eCampus(A complete College Management ERP Solution) </li>
  <li  > eLibsys(A Complete Library Management Software) </li>
  <li  > Unileads(Marketing and Sales related CRM) </li>
  <li  > Web Designing and development </li>
  <li  > Domain Registration and Hosting Services </li>
  <li  > Search Engine Optimization (SEO) </li>
  <li  > Bulk SMS Solution </li>
</ul>
                    <p>
                        <strong>
If you have any question regarding software or about our services always fell free to ask.<br />
Looking forward For Long Term Business Relationship.</strong>
                    </p>
                    <p>
                        <strong><em>
                   
                    We believe in a  satisfied customer is business earned.</em></strong> </p>
<p>
Talk to you soon,<br />
uSofts (Unique Software Solution) Team </p>
                </div>
           
        </div>

    
    </div>
   
</section>







