@{
    ViewBag.Title = "Home Page";
}
 <header role="banner" id="ussebk-header">
		<div class="fluid-container ">
			<nav class="navbar navbar-default topbarcolor">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-ussebk-nav-toggle ussebk-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					@*<a class="navbar-brand " href="index">
                        <img src="~/Images/ebrickklin_logo.png" /> </a> *@
                    <a class=" " href="/home/index">
                        <img src="~/Images/ebrickkiln_logo.png" class="img-responsive" style="height:60px;margin:5px 0;" alt="ebrickkiln logo" /> </a>

				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                        
						<li><a href="#" data-nav-section="advantage"><span>Advantage</span></a></li>
						<li><a href="#" data-nav-section="features"><span>Packages</span></a></li>
						@*<li><a href="#" data-nav-section="testimony"><span>Testimony</span></a></li>*@
						<li><a href="#" data-nav-section="testimony"><span>Downloads</span></a></li>
						<li><a href="/Home/Services" class="external"><span>Services</span></a></li>
						<li><a href="/Home/Blogs" class="external"><span>Updates</span></a></li>


						<li><a href="#" data-nav-section="contacts"><span>Contacts</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>

<!-- end:header-top -->

    <section id="ussebk-home" data-section="home" style="background-image: url(/images/ebricklin_banner2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">Software From the house of brick kiln owner</h1>
							@*<h2 class="to-animate">100% Free HTML5 Template. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0.</a> <br> Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2>*@
							@*<div class="call-to-action">
								<a href="#" class="demo to-animate">Demo</a>
								<a href="#" class="download to-animate">Download</a>
							</div>*@
                            <div class="to-animate">
                    @*<a href="/RequestQuote" class="btn btn-ebkthemeother btn-lg">Get Started Now</a>*@
                    <a href="/home/RequestQuote" class="btn btn-ebkthemeother btn-lg"  style="color:#b73222 !important;text-decoration:none;">Get Started Now</a>

                    @*<a href="/Download" class="btn btn-ebkthemeother btn-lg"  style="color:#b73222 !important;text-decoration:none;">Downloads</a>*@

								 <a href="/Onlinepay/Submitrequest" class="btn btn-ebktheme btn-lg ">Easy Pay!</a>
                        <a href="#" class="btn btn-ebkthemeother btn-lg hvr-shutter-out-vertical" data-toggle="modal" data-target="#videoModal"><i class="icon-play22"></i>Watch demo video</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section id="ussebk-explore" data-section="home">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">eBrickkiln Solution</h2>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 subtext to-animate">
							<h3> As we know in IT era everything is going to digitalize so using traditional system of accounts (especially non-computerized system) it is almost impossible to obtain the aforementioned information with high accuracy and within desired time. but being a responsible company, who is serving brick kiln industry for last 14 years, we consider it our primary responsibility to guide and advise (on how to buy a good software for brick kiln) all brick kiln owners who still are not using computer as their primary record keeping tool or are using computer to maintain record.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="ussebk-explore">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-6 to-animate-2">
						<img class="img-responsive" src="/images/ebrickklin_demo.jpg" alt="ebrickklin_demo">
                        <div id="divvideo" class="text-center">
                        <a href="#" class="btn btn-ebktheme btn-lg hvr-shutter-out-vertical" data-toggle="modal" data-target="#videoModal"><i class="icon-play22"></i>Watch demo video</a></div>
                       
					</div>
					<div class="col-md-6 col-md-pull-6 to-animate-2">
						<div class="mt">
							<h3>Why eBrickkiln Solution?</h3>
							<ul class="list-nav">
								<li><i class="icon-check "></i>This is a Business Oriented Software manage account upto balance sheet as well as other business process.</li>
								<li><i class="icon-check "></i>User friendly and easy flow, a layman can understand in short time after basic training.</li>
								<li><i class="icon-check  "></i>Our team member has same business so can easily understand the client requirement and provide solution accordingly.</li>
								<li><i class="icon-check "></i>This software developed under guidance of brick kiln owners, CA and other concerned professionals.</li>
								<li><i class="icon-check "></i>Easy to trace the leakage during audit process due to tremendous report.</li>
								<li><i class="icon-check "></i>Effective training and implementation from experts.</li>

							</ul>
						</div>
					</div>
					

				</div>
			</div>
		</div>

		@*<div class="ussebk-explore ussebk-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-pull-1 to-animate-3">
						<img class="img-responsive" src="images/work_1.png" alt="work">
					</div>
					<div class="col-md-4 to-animate-3">
						<div class="mt">
							<div>
								<h4><i class="icon-people"></i>Real Project For Real Solution</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4><i class="icon-video2"></i>Real Project For Real Solution</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4><i class="icon-shield"></i>Real Project For Real Solution</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>*@
	</section>
	
	<div class="getting-started getting-started-1">
		<div class="container">
			<div class="row">
                <div class="col-md-1 to-animate-2 requesticon">
 <i class="icon-new-message"></i></div>
				<div class="col-md-8 to-animate">
                   
					<h3>Request a Quote</h3>
					<p>From a start-up business to large business. Increase productivity and decrease operating costs. </p>
				</div>
				<div class="col-md-3 to-animate-2 ">
					
                    <a href="/home/RequestQuote" class="btn btn-ebkthemeother btn-lg">Get Started Now</a>
				</div>
			</div>
		</div>
	</div>
	


	<section id="ussebk-advantage" data-section="advantage">
		<div class="ussebk-services" id="advantage">
			<div class="container text-center">
				<div class="row">
					<div class="col-md-12 section-heading ">
						<h2 class="to-animate">eBrickkiln Advantage</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">eBrickkiln Solution is unique electronic way to have the every minor detail of the business on tips. eBrickkiln Solution is the outcome of the year's hard-work of a team of specialized software engineers.  </h3>
							</div>
						</div>
					</div>
				</div>
                <div class="row ">
                    <div class="col-md-3">
                        <div class="box-services">
							<i class="icon-v-card   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Easy to access  </h3>
								<p>Its quick access features can save your time. As in eBrickkiln we have given many important and frequent shortcuts on the main screen.
</p>
							</div>
						</div>
                        </div>
                   <div class="col-md-3">
                       <div class="box-services">
							<i class="icon-shield2   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Secure and Reliable</h3>
								<p>You can trust it to store your data. It satisfies all modern security standards.
</p>
							</div>
						</div>
                   </div>
                      <div class="col-md-3">
                          	<div class="box-services">
							<i class="icon-layers2  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Dual steps security</h3>
								<p>On company selection, there is again a security check so that no unauthorized person can access data without your permission.
</p>
							</div>
						</div>
                   </div>
                      <div class="col-md-3">
                          <div class="box-services">
							<i class="icon-user-tie  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>User Management 
</h3>
								<p>Admin can provide the right to user as per their job profile.</p>
							</div>
						</div>
                   </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="box-services">
							<i class="icon-pie-chart   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>In depth reporting
</h3>
								<p>There is a wide range of reports which helps to analyze the data. Data can be filtered with various options to facilitate analysis. </p>
							</div>
						</div>
                        </div>
                      <div class="col-md-3">
                          	<div class="box-services">
							<i class="icon-user-check   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Effective Training</h3>
								<p>Training will be provided by business expert via online as per their business flow 
</p>
							</div>
						</div>
                        </div>
                      <div class="col-md-3">
                          <div class="box-services">
							<i class="icon-sports-club  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Data security
</h3>
								<p>Backup and Restore utility make sure that your data is always backed up and can be restored any time from any backup.
</p>
							</div>
						</div>

                        </div>
                      <div class="col-md-3">
                          <div class="box-services">
							<i class="icon-equalizer2   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Customization</h3>
								<p>If any requirement provided by new client will consider on priority basis and after deep analysis will update the same  in new version. 
</p>
							</div>
						</div>
                        </div>
                </div>

				@*<div class="row">
					<div class="col-md-3">
						<div class="box-services">
							<i class="icon-eye   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Easy to access &amp; User friendly </h3>
								<p>Its quick access features can save your time. As in eBrickkiln we have given many important and frequent shortcuts on the main screen so that access may be easy for the users.
Any layman can understand the flow of software after the basic training because of user friendly interface.
</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-folder-open  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Secure and Reliable</h3>
								<p>You can trust it to store your data. It satisfies all modern security standards.
</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-services">
							<i class="icon-trophy to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Dual steps security</h3>
								<p>The main and the most reliable feature of eBrickkiln is its duel security. On company selection, there is again a security check so that no unauthorized person can access data without your permission.
</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-paper-plane to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>User Management 
</h3>
								<p>Admin can provide the right to user as per their job profile.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-services">
							<i class="icon-calendar  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>In depth reporting
</h3>
								<p>There is a wide range of reports which helps to analyze the data. Data can be filtered with various options to facilitate analysis. </p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-gears   to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Effective Training</h3>
								<p>Training will be provided by business expert via online as per their business flow 
</p>
							</div>
						</div>
					</div>
                    <div class="col-md-3">
						<div class="box-services">
							<i class="icon-feed  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Data security
</h3>
								<p>Backup and Restore utility make sure that your data is always backed up and can be restored any time from any backup.
</p>
							</div>
						</div>

						<div class="box-services">
							<i class="icon-unlock2  to-animate-2"></i>
							<div class="ussebk-post to-animate">
								<h3>Customization</h3>
								<p>If any requirement provided by new client will consider on priority basis and after deep analysis will update the same  in new version. 
</p>
							</div>
						</div>
					</div>
				</div>*@
				@*<div class="call-to-action text-center to-animate"><a href="#" class="btn btn-learn">Learn More</a></div>*@
			</div>
		</div>
	</section>	
	<section id="ussebk-features" data-section="features">

    <div id="ussebk-trusted" class="">
        <div class="ussebk-trusted">
		<div class="container text-center">
			<div class="row">
				<div>
					<h2  class=" to-animate">eBrickKiln Packages</h2>
                    <ul class="nav-justified text-center featureslist">
                        <li class="col-xs-6"> <span class="sandicon to-animate-2"></span> Mitti/Sand</li>
                        <li  class="col-xs-6"> <span class="pathericon  to-animate-2"></span>Pather</li>
                        <li class="col-xs-6"> <span class="kharabaicon to-animate-2"></span>Kharaba/wastage</li>
                        <li class="col-xs-6"> <span class="jalayeeicon to-animate-2"></span>Jalayee</li>
                        <li class="col-xs-6"> <span class="nikasiicon to-animate-2"></span>Nikasi</li>
                        <li class="col-xs-6"> <span class="saleicon to-animate-2"></span>Sale</li>
                        <li class="col-xs-6"> <span class="purchaseicon to-animate-2"></span>Purchase</li>
                        <li class="col-xs-6"> <span class="financeicon to-animate-2"></span>Financial Account</li>
                    </ul>
                    
					@*<p>From a start-up business to large business. Increase productivity and decrease operating costs. </p>*@
				</div>
                <div class="clearfix"></div>

                <div class="row">
                    <section class="features_table">
        <div class="container ">
            <div class="col-md-6 col-md-offset-3">
            <table class="table table-condensed table-bordered pricetable">
                <thead >
                    <tr>
                        <th  class="text-center"> eBrickkiln Feature </th>
                        <th  class="text-center">Basic</th>
                        <th  class="text-center">Advance</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td >Default Company </td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Network Node</td>
                        <td>3</td>
                        <td>5</td>
                    </tr><tr>
                        <td>Sale & Invoiceing </td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Bricks Order Management </td>
                         <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Bulk Payment Utility</td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Purchase </td>
                       <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Credit Voucher </td>
                         <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Staff Attendence of Salried Employee</td>
                         <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Finacial Account & Reports </td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Backup, Restore, Export & Import Utility </td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Bulk SMS Broadcastiing </td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Telephone Diary </td>
                         <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Reminder Utility </td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>GST Reporting </td>
                        <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Online Support</td>
                         <td><i class="icon-check"></i></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Finacial Year Closing Management</td>
                        <td></td>
                        <td><i class="icon-check"></i></td>

                    </tr><tr>
                        <td>Mitti / Sand Detail Record </td>
                        <td></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Pather/Daily </td>
                        <td></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Gall/Kharaba/Wastage Record Detail </td>
                        <td></td>
                       <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Kachi Bhari </td>
                        <td></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Nikashi </td>
                        <td></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Jalayee</td>
                        <td></td>
                        <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Nikasi Qty Detail /Line Wise Nikasi</td>
                        <td></td>
                       <td><i class="icon-check"></i></td>
                    </tr><tr>
                        <td>Misc Items -Sale /Issue /Return Voucher </td>
                        <td></td>
                       <td><i class="icon-check"></i></td>
                    </tr>
                    <tr>
                        <td colspan="3" class=""><a href="/home/RequestQuote" class="btn btn-ebktheme btn-sm"  >Request Quote</a></td>
                    
                             </tr>
                </tbody>
            </table>
</div>

        	@*<div class="col-sm-8 col-md-6 col-md-offset-1 col-xs-12 no-padding">
            	<div class="features-table">
                	<ul class="no-padding text-left">
                    	<h1>eBrickkiln Feature </h1>
                    	<li>Default Company  </li>
                        <li>Network Node</li>
                        <li>Sale &amp; Invoiceing </li>
                        <li>Bricks Order Management </li>
                        <li>Bulk Payment Utility</li>
                        <li>Purchase</li>
                        <li>Credit Voucher </li>
                        <li>Staff Attendence of Salried Employee</li>
                        <li>Finacial Account &amp; Reports </li>
                        <li>Backup, Restore, Export &amp; Import Utility </li>
                        <li>Bulk SMS Broadcastiing  </li>
                        <li>Telephone Diary </li>
                        <li>Reminder Utility </li>
                        <li>GST Reporting </li>
                        <li>Online Support</li>
                        <li>Finacial Year Closing Management</li>
                        <li>Mitti / Sand Detail Record </li>
                        <li>Pather /Daily </li>
                        <li>Gall/Kharaba/Wastage Record Detail </li>
                        <li>Kachi Bhari </li>
                        <li>Nikashi </li>
                        <li>Jalayee</li>
                        <li>Nikasi Qty Detail /Line Wise Nikasi</li>
                        <li>Misc Items -Sale /Issue /Return Voucher</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding">
            <div class="features-table-free">
                	<ul  class="no-padding">
                    	<h1>Basic</h1>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                     
                        
                        
                        
                    </ul>
                </div>
            
            </div>
             <div class="col-sm-2 col-2 col-xs-12 no-padding">
             	 <div class="features-table-paid">
                	<ul  class="no-padding">
                    	<h1>Advance </h1>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                        <li><i class="icon-check"></i></li>
                       
                    </ul>
                </div>
             </div>*@
        </div>
    
    </section>
                </div>



				<div class="o-animate-2 featureslistbtn">
					@*<div class="call-to-action text-right">
						<a href="#" class="sign-up">Get Started Now</a>
					</div>*@
                    <a href="/home/features" class="btn btn-ebkthemeother btn-lg">Explore Detail Features</a>
				</div>
			</div>
		</div>

        </div>
	</div>
        </section>
	
	<section id="ussebk-testimony" data-section="testimony">
		<div class="ussebk-faq" id="ussebk-downloads">
			<div class="container">
				<div class="row to-animate ">
                      <div id="otherssay" class="carousel slide animate-box text-center" data-ride="carousel">
                          <h2  class=" to-animate">Downloads</h2>
                          <div class="col-md-4 col-md-offset-4">
                          <table class="table ">
                                   
                                        <tr>
                                            <td><a href="/Downloads/Brick kiln Software video .MP4" target="_blank"> Brick kiln Software video </a>
                                                <br /><h5 style="margin:0;"><small>(For download video, Right click on link and save link as...)</small></h5></td>
                                            </tr>
                                        <tr>
                                            <td> <a href="/Downloads/uSoftsSetup.msi" target="_blank"> uSofts Setup </a></td>
                                           </tr>
                                        <tr>
                                            <td> <a href="https://download.anydesk.com/AnyDesk.exe?_ga=1.43359974.273434970.1487592440" target="_blank"> Any Desk </a></td>
                                           </tr>
                                        <tr>
                                            
                                            <td><a href="https://downloadus2.teamviewer.com/download/TeamViewer_Setup_en.exe" target="_blank"> Team Viewer </a></td>
                                            </tr>

                                    <tr>
                                            
                                            <td><a href="~/Downloads/eBrickkiln Software Proposal.pdf" target="_blank">eBrickkiln Software Proposal</a></td>
                                            </tr>
                                </table>
</div>
                @*<div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="ussebk-testimonial text-center ">
                                <figure>
                                    <img src="/images/user-1.jpg" alt="user1">
                                </figure>
                                
                                    <p>“Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.”</p>
                                
                                <span>Rajender Singh</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="ussebk-testimonial text-center ">
                                <figure>
                                    <img src="/images/user-2.jpg" alt="user2">
                                </figure>
                                
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident.”</p>
                                
                                <span>Sunil Kumar</span>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="ussebk-testimonial text-center ">
                                <figure>
                                    <img src="/images/user-3.jpg" alt="user3">
                                </figure>
                                
                                    <p>“There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.”</p>
                                
                                <span>Manish</span>
                            </div>
                        </div>

                    </div>
                </div>*@
                @*<a class="left carousel-control" href="#otherssay" role="button" data-slide="prev"><span class="" aria-hidden="true"></span><span class="sr-only">Previous</span></a>*@
                @*<a class="right carousel-control" href="#otherssay" role="button" data-slide="next"><span class="" aria-hidden="true"></span><span class="sr-only">Next</span></a>*@
                <!-- Indicators -->
                @*<ol class="carousel-indicators">
                    <li data-target="#otherssay" data-slide-to="0" class="active"></li>
                    <li data-target="#otherssay" data-slide-to="1"></li>
                    <li data-target="#otherssay" data-slide-to="2"></li>
                </ol>*@
            </div>
				</div>
				
			</div>
		</div>
	</section>

	
    
    
            

  <!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body" >
        
       <div class="embed-responsive embed-responsive-16by9">
            @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1PL-z5RXmWQ?autoplay=1" allowfullscreen></iframe>*@
           <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>

</div>
      </div>
    
    </div>
  </div>
</div>

@section scripts {
<script type="text/javascript">
    $('#videoModal').on('hidden.bs.modal', function () {
        $("#videoModal iframe").attr("src", "");
    });

    $('#videoModal').on('show.bs.modal', function () {
        $("#videoModal iframe").attr("src", "https://www.youtube.com/embed/1PL-z5RXmWQ?autoplay=1");
    });
</script>

    }